<header>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid w-100">

            <app-logo></app-logo>

            <div class="navbar-nav">

                <app-login></app-login>

            </div>
        </div>
    </nav>

    <app-banner></app-banner>

    <div class="position-relative" style="margin-left:230px;">
        <div class="position-absolute top-0 start-0 translate-middle">
            <img src="../../../assets/APLogo.png" alt="img"
                style="background-color:black;width:240px;height:240px;border-radius: 50%;">
        </div>
    </div>



</header>