<section>

    <div class="container mb-5 pt-5 border-top">
        <h1>Mis Proyectos</h1>

        <div class="row row-cols-1 row-cols-md-3 g-4">
            
            <div class="col">
                <div class="card h-100">
                        <div class="card-body">
                        <h5 class="card-title"><a href="https://github.com/missestrella2/tpfrontend">Trabajo practico Front End </a></h5>
                        <p class="card-text">Trabajo Practico de Curso Codo a Codo 4.0
                       </p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title"><a href="https://github.com/missestrella2/ProyectoAP">Proyecto Portfolio</a></h5>
                        <p class="card-text">Proyecto de practica de Argentina Programa</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    
                    <div class="card-body">
                        <h5 class="card-title">No disponible</h5>
                        <p class="card-text">No disponible</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>