<section>
<div class="container mx-5 mb-5">
    <div class="row" style="margin-top:150px;">
        <div class="col" style="margin-left:50px;">
            <h1>{{persona.nombre}} {{persona.apellido}}</h1>
            <h3>Programadora Full Stack</h3>
        </div>

        <div class="col">
            <h2>Acerca de mi</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur commodi veniam dolor excepturi molestias consequuntur reiciendis tempora, itaque laudantium voluptates rem quam. Quam quidem harum ratione. Ea nulla quod beatae.
                </p>
        </div>
    </div>
</div>
</section>