<section>

<div class="container mb-5 pt-5 border-top">
    <h1>Experiencia</h1>

    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">
                
                <div class="card-body">
                    <h5 class="card-title">No disponible</h5>
                    <p class="card-text">Sin experiencia</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                
                <div class="card-body">
                    <h5 class="card-title">No disponible</h5>
                    <p class="card-text">Sin experiencia
                    </p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
               
                <div class="card-body">
                    <h5 class="card-title">No disponible</h5>
                    <p class="card-text">Sin experiencia</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
    </div>
</div>

</section>