<section>

    <div class="container mb-5 pt-5 border-top">

        <h1>Habilidades</h1>

        <div class="container">

            <div class="row">
                <div class="col">
                    <h3>HTML</h3>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: 75%"
                            aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="col">
                    <h2>CSS</h2>

                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: 75%"
                            aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="col">
                    <h2>BOOTSTRAP</h2>

                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: 50%"
                            aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="col">
                    <h2>ANGULAR</h2>

                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: 25%"
                            aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>

            <div>

            </div>

        </div>
    </div>
</section>