<section>



    

    <div class="container mb-5 pt-5 border-top">
        <h1>Educacion</h1>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card h-100">
                    <img src="../../../assets/estUTN.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Centro de E Learning UTN</h5>
                        <p class="card-text">Fundamentos de programacion</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="../../../assets/estSEC-logo_header.png" class="card-img-center bg-primary" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">CFP Nro 10 SEC</h5>
                        <p class="card-text">Diseño web con HTML y CSS
                        </p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="../../../assets/estcodoacodo.png" class="card-img-top bg-dark" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Codo a Codo 4.0</h5>
                        <p class="card-text">Full Stack Javascript (en curso)</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>